body {
  
  background: url('./catpaws.jpg');
  
  
}
nav {
  display: flex;
  justify-content: center;
  gap: 10%;

}

h1 {
  text-align: center;
}

.content {
  background-color: antiquewhite;

}

button {
  border-color:black;
  background-color: antiquewhite;
  border-radius: 5px;
  padding: 2%;
  font-weight: 900;

}



.clicked {
  border: none;
  opacity: 90%;
  
}

.innerContent {
align-self: center;
border-style: solid;
border-radius: 30px;
border-width: 10px;
max-width: 40%;
padding: 5%;

background-color: antiquewhite;
text-align: center;
}


.home {
  display: flex;
  flex-direction: column;
  
}

.menu {
  display: flex;
  flex-direction: column;
 
  
}

.about {
  display: flex;
  flex-direction: column;

}

